/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  background-color: #ECEFF1;
}

.g-map {
  width: 60vw;
  height: 100vh;

}
