<div class="text-md-center" style="position: absolute; top: 38%; left: 40%; border-left: #F48FB1 solid 5px">
  <mat-card>
    <pp-title></pp-title>
    <div class="row" style="margin-top: 10px">
      <div class="col-md-6">
        <button mat-button mat-raised-button routerLink="/Login">
          <strong>
            <i class="fa fa-sign-in"></i>
            Login
          </strong>
        </button>
      </div>
      <div class="col-md-6">
        <button mat-button mat-raised-button routerLink="/Register">
          <strong>
            <i class="fa fa-registered"></i>
            Register
          </strong>
        </button>
      </div>
    </div>
  </mat-card>
</div>
